* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;


}

img{
  width: 100%;
  height: 100%;
}

a{
  color: inherit;
}


:root{
  --main_background:#263238 ;
  --text:#b0b7bc;
  --text_hover:#fafafa;

}

#root{
  padding: 1%;
  overflow: hidden;

}



body{
  background-color: var(--main_background);
}

